.MainConsultationsItem {
  background: rgba(93, 28, 95, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  width: calc(50% - 50px);
  display: flex;
  align-items: center;
}
.MainConsultationsItem__Title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #3e3636;
}
